.box-blog-details {
  padding: 6.25em 0;
  .blog-details {
    max-width: 95em;
    margin-right: auto;
    margin-left: auto;

    .content-blog-details {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      article {
        position: relative;
        overflow: hidden;
        margin-bottom: 3.125em;
        padding-bottom: 2.5em;
        border: solid;
        border-width: 0 0 0.063em;
        border-image-source: linear-gradient(
          90deg,
          rgba(209, 208, 207, 0.6),
          rgba(209, 208, 207, 0.3),
          rgba(209, 208, 207, 0)
        );
        border-image-slice: 1;
        .box-img {
          position: relative;
          overflow: hidden;
          margin-bottom: 3.125em;
          padding-bottom: 2.5em;
          border: solid;
          border-width: 0 0 0.063em;
          border-image-source: linear-gradient(
            90deg,
            rgba(209, 208, 207, 0.6),
            rgba(209, 208, 207, 0.3),
            rgba(209, 208, 207, 0)
          );
          border-image-slice: 1;
          img{
            width: 100%;
            object-fit: cover;
          }
        }
        .box-details {
          width: 100%;
          .box-date-time {
            margin: 0 0 1.25em;
            padding: 0;
            line-height: 1em;
            .date {
              color: #fff;
              text-transform: uppercase;
              font-style: italic;
              margin: 0 0.625em 0.625em 0;
              font-size: 0.875em;
              border-left: 0.25em solid #e50914;
              background: transparent -webkit-gradient(linear, right top, left
                    top, from(rgba(11, 1, 2, 0)), to(rgba(255, 55, 65, 0.3)));
              background: transparent
                linear-gradient(
                  270deg,
                  rgba(11, 1, 2, 0),
                  rgba(255, 55, 65, 0.3)
                );
              padding: 0.625em 0.625em 0.625em 0.938em;
              position: relative;
              overflow: hidden;
              display: inline-block;
              i {
                margin-right: 4px;
              }
            }
          }
        }
      }
      .comment {
        margin-top: 2.8125em;
        clear: both;
        .box-comment {
          position: relative;
          padding-bottom: 0;
          h3 {
            margin-bottom: 0.625em;
            font-size: 2.369em;
            line-height: 1.2;
            letter-spacing: -0.02em;
            font-weight: 400;
          }
          .form-comment {
            display: block;
            width: 100%;
            p {
              color: #d1d0cf;
            }
            input,
            input[type="email"],
            input[type="password"],
            input[type="text"],
            textarea {
              width: 100%;
              float: left;
              height: 4.5em;
              font-size: 0.875em;
              line-height: 1.5em;
              padding: 0 1.5em;
              background: #111;
              border: 0.0625em solid #111;
              border-radius: 0;
              color: #e50914;
              -webkit-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
              outline: medium none !important;
              &::placeholder {
                font-size: 1rem !important;
                color: #d1d0cf;
              }
              &:focus {
                border: 0.0625em solid #e50914;
              }
            }
            .comment-form-comment {
              margin-top: 2em;
              display: inline-block;
              width: 100%;
              textarea {
                background: #111;
                padding: 1.5em;
                height: 9.375em;
                border-radius: 0;
                margin: 1.875em 0;
              }
            }
            .form-detail {
              display: grid;
              gap: 1rem;
              grid-template-columns: repeat(3, 1fr);
              margin-bottom: 2em;
            }
            .form-submit {
              button {
                font-size: 18px;
                i {
                  margin-left: 4px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 769px){
    .box-blog-details{
        .blog-details{
            .content-blog-details{
                .comment{
                    .box-comment{
                        .form-comment{
                            .form-detail{
                                grid-template-columns: repeat(1,1fr) ;
                            }
                        }
                    }
                }
            }
        }
    }
}
